<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FoodMapper">
<select id="FoodList" resultType="FoodDTO" 
	parameterType="string">
	select FCode,FKind,FName,FPrice,FImage
	from food
	where FKind= #{FKind}
</select>
<select id="FoodRetrieve" resultType="FoodDTO" 
	parameterType="string">
	select FCode,FKind,FName,FPrice,FImage
	from food
	where FCode= #{FCode}
	</select>
</mapper>